clipse/clipse.log
clipse/tmp_files/
clipse/clipboard_history.json
.gsd-keyboard.settings-ported
.mozilla/
BraveSoftware/
Code/
Proton/
QtProject.conf
Softdeluxe/
autostart/
btop/
dconf/
evolution/
gh/
go/
google-chrome/
hyprmon/
hyprshade/
ibus/
libreoffice/
mpv/
ncspot/
nwg-look/
pavucontrol.ini
pulse/
qBittorrent/
spotify/
systemd/
torbrowser/
unvanquished/
user-dirs.dirs
user-dirs.locale
wireshark/
xsettingsd/
youtube-tui/
heroic/
PCSX2/

