.mozilla/
assets
alacritty/                  
kscreenlockerrc
arkrc                       
ksmserverrc
assets@                     
ksplashrc
autostart/                  
ktimezonedrc
baloofileinformationrc      
ktrashrc
baloofilerc                 
kuriikwsfilterrc
kwalletrc
bluedevilglobalrc           
kwinoutputconfig.json
kwinrc
BraveSoftware/              
kwriterc
btop/                       
legcord/
cachyos/                    
libaccounts-glib/
cachyos-hello.json          
libinput-gestures.conf
libreoffice/
clipse/                     
matplotlib/
Code/                       
menus/
dconf/                      
micro/
dolphinrc                   
mpv/
ncspot/
fontconfig/                 
google-chrome/              
nwg-look/
obs-studio/
pavucontrol.ini
gtkrc                       
plasma-localerc
gtkrc-2.0                   
plasmanotifyrc
gwenviewrc                  
plasma-org.kde.plasma.desktop-appletsrc
haruna/                     
plasmaparc
harunarc                    
plasmarc
plasmashellrc
powerdevilrc
ibus/                       
powermanagementprofilesrc
kactivitymanagerdrc         
pulse/
kactivitymanagerd-statsrc   
QiskitMetal/
kate/                       
QtProject.conf
kate-externaltoolspluginrc  
readme.md
katemetainfos               
katerc                      
sddmthemeinstallerrc
katevirc                    
session/
kcalcrc                     
Softdeluxe/
kcmfonts                    
spectaclerc
kcminputrc                  
spotify/
kconf_updaterc              
spotify-player/
KDE/                        
systemd/
kdeconnect/                 
systemmonitorrc
kded5rc                     
trashrc
kded6rc                     
Trolltech.conf
kdedefaults/                
user-dirs.dirs
kdeglobals                  
user-dirs.locale
kdenliverc                  
kde.org/                    
kglobalshortcutsrc          
kiorc                       
kitty/                      
knfsshare                   
konsolerc                   
xsettingsd/
konsolesshconfig            
yay/
obsidian/
go/
ltspice/
krunnerrc                   
/lazygit
/audacity
/evolution/sources
/pypoetry
/sunshine
/tenacity
/.gsd-keyboard.settings-ported
/zen
/zellij/themes/pywal.kdl
/zellij/themes/pywal.kdl
/htop/htop_history
/heroic
/wireshark
/Element
/discord
/easyeffects/db
/ghostty/.~lock.config#
/gtk-3.0/bookmarks
/pomodoro
/pupgui
